@import url("reset.css");
body {
  background-color: black;
  overflow-x: hidden;
}

.container {
  max-width: 1460px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.logo {
  height: 78px;
  width: 78px;
  cursor: pointer;
}

.header-section {
  padding-top: 100px;
}

.text-block-header-line1 {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 30px;
  z-index: 0;
  display: flex;
}

.text-block-header-line2 {
  margin-left: 250px;
  z-index: 0;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-line1 {
  width: 2300px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(39, 39, 39, 0.7411764706);
  margin-top: 51px;
  display: flex;
  align-items: center;
  z-index: -1;
}
.header-line1 span {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}
.header-line1 p {
  font-weight: 900;
  color: #bdbdbd;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.header-line2 {
  right: 32%;
  width: 2300px;
  height: 40px;
  transform: rotate(90deg);
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.7411764706);
}
.header-line2 span {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}
.header-line2 p {
  font-weight: 900;
  color: #bdbdbd;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.header__left {
  width: 648px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header__contact {
  font-family: "Michroma", sans-serif;
  text-decoration: underline;
  font-size: 20px;
  color: white;
  justify-self: flex-end;
  cursor: pointer;
}
.header__nav {
  font-family: "Michroma", sans-serif;
  font-size: 15px;
  color: white;
}
.header__nav ul {
  align-items: center;
  display: flex;
  width: 440px;
  justify-content: space-between;
}
.header__nav li {
  cursor: pointer;
  width: 77px;
  height: 30px;
  display: flex;
  align-items: center;
}
.header__nav li:hover {
  font-size: 20px;
  transition: linear 0.2s;
}

.main {
  display: flex;
  margin-top: 141px;
  justify-content: space-between;
}

.marble1 {
  overflow: hidden;
  width: 320px;
}
.marble1__text {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 15px;
  text-align: justify;
}
.marble1__text span {
  font-weight: 900;
}

.marble-vector {
  height: 548px;
  width: 122px;
}

.center {
  margin-left: 105px;
}
.center__shapes {
  position: absolute;
  transform: rotate(-90deg);
  left: 195px;
  width: 54px;
  height: 60px;
}
.center__title {
  width: 650px;
}
.center__caption {
  padding-bottom: 48px;
}
.center__image {
  position: absolute;
  z-index: -1;
  left: 41%;
  width: 410px;
  margin: 0 auto;
}
.center__line {
  margin-top: 55px;
  width: 84px;
  height: 7px;
  background-color: white;
}
.center__text {
  margin-top: 66px;
  color: white;
  font-family: "Michroma", sans-serif;
  font-size: 45px;
  width: 200px;
  line-height: 34pt;
}
.center__rotated-text {
  font-family: "Michroma", sans-serif;
  color: white;
  text-decoration: underline;
  font-size: 20pt;
}
.center__rotated-text-block {
  display: flex;
  align-items: flex-end;
  top: 689px;
  left: 63%;
  width: auto;
  position: absolute;
  transform: rotate(90deg);
}

.marble-vector2 {
  width: 257px;
  position: absolute;
  top: 667px;
  right: 56px;
}

.marble2 {
  width: 307px;
  display: flex;
  align-items: flex-end;
}
.marble2__text {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 15px;
  text-align: justify;
}

@media screen and (max-width: 1350px) {
  .container {
    max-width: 1200px;
  }
  .marble-vector2 {
    width: 200px;
    top: 721px;
  }
  .center {
    margin-left: 60px;
  }
  .center__image {
    left: 38%;
  }
  .center__rotated-text-block {
    left: 68%;
  }
  .header-line2 {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }
  .main {
    flex-direction: column;
  }
  .center {
    order: -1;
    margin-left: 0;
  }
  .center__rotated-text-block {
    top: 817px;
    left: 48%;
  }
  .center__image {
    left: 13%;
  }
  .center__title {
    width: 100%;
  }
  .marble-vector {
    display: none;
  }
  .marble-vector2 {
    width: 310px;
    top: 908px;
  }
  .marble1 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 960px) {
  .marble-vector2 {
    width: 312px;
    top: 1194px;
  }
  .header__nav ul {
    width: 350px;
  }
  .header__left {
    width: 70%;
  }
  .center__image {
    left: 18%;
  }
  .center__rotated-text-block {
    left: 67%;
  }
}
@media screen and (max-width: 730px) {
  .marble-vector2 {
    display: none;
  }
  .main {
    align-items: center;
  }
  .marble2 {
    width: 320px;
  }
  .header__nav {
    display: none;
  }
  .header__left {
    width: 30%;
  }
}
@media screen and (max-width: 630px) {
  .center__image {
    width: 343px;
    left: 23%;
  }
  .center__rotated-text-block {
    width: 300px;
    left: 55%;
  }
  .marble1 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 420px) {
  .center__text {
    font-size: 35px;
    line-height: 30pt;
  }
  .center__rotated-text-block {
    top: 817px;
    left: 50%;
  }
  .marble1 {
    margin-top: 130px;
  }
}/*# sourceMappingURL=index.css.map */